html, body { 
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: url(../images/table-bg.jpg);
    background-size: cover;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
    font-family: 'Segoe UI';
    overflow: hidden;
}
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 11px;
    width: 125px;
}
.hand .card {
    width: 74px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.9);
    margin-left: -41px;
    border-radius: 5px;
    &:first-child {margin-left: 0;}
}
.btn {
    border: 0;
    padding: 14px 27px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), inset 0 2px 1px rgba(255,255,255,0.3);
    font-size: 36px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    &.active, &:active {
        box-shadow: inset 0 5px 11px rgba(0,0,0,0.5), 0 2px 1px rgba(255,255,255,0.2);
    }
    /*&:focus {
        outline: 0;
        transform: scale(1.15);
    }*/
}
.btn-green {
    background-color: #23a73c;
    &.active, &:active {background-color: #104f1c;}
}
.btn-blue {
    background-color: #23a790;
    &.active, &:active {background-color: darken(#23a790, 15%);}
}
.players-grid {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}
.col-player {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &:nth-child(1), &:nth-child(4) {
        justify-content: space-around;
        align-items: flex-start;
        flex-grow: 0;
        .player {transform: rotate(90deg)}
    }
    &:nth-child(4) {align-items: flex-end;}
    &:nth-child(2), &:nth-child(3) {
        justify-content: space-between;
        flex: 1;
    }
}
.turn {position: absolute;}
.p1 {
    left: -60px;
    .turn {
        top: -88px;
        left: 50%;
        margin-left: -41px;
    }
}
.p4 {
    right: -60px;
    .turn {
        bottom: -88px;
        left: 50%;
        margin-left: -41px;
    }
}
.p2, .p3 {
    top: -38px;
    .turn {
        bottom: -88px;
        left: 50%;
        margin-left: -41px;
    }
}
.p5, .p6 {
    bottom: -42px;
    .turn {
        top: -88px;
        left: 50%;
        margin-left: -41px;
    }
}
.player {
    text-align: center;
    position: relative;
    z-index: 1;
    .name {
        font-weight: bold;
        font-size: 28px;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    }
}
.game-name {
    padding-top: 100px;
    font-size: 135px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    margin-bottom: 50px;
}
.game-buttons {
    text-align: center;
    .players-count {
        display: inline-block;
        margin-right: 20px;
        text-align: left;
        .btn {margin: 0 5px}
        .title {
            font-size: 30px;
            color: #fff;
            margin-bottom: 10px;
        }
    }
    .col-start {
        display: inline-block;
        margin-left: 20px;
    }
}
.koloda {
    position: absolute;
    font-size: 0;
    top: 50%;
    margin-top: -174/2px;
    left: 25%;
    margin-left: -100px;
    .stack .card {
        position: relative;
        z-index: 2;
        margin-left: -123px;
        &:first-child {margin-left: 0;}
    }
    .kozyr {
        position: absolute;
        z-index: 1;
        transform: rotate(90deg);
        top: 50%;
        margin-top: -174/2px;
        left: 100px;
    }
}
.ad-field {
    position: absolute;
    left: 45%;
    margin-left: -20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 505px;
    .item {
        display: inline-block;
        position: relative;
        margin: 15px 20px;
        .defender {
            position: absolute;
            left: 20px;
            top: 10px;
        }
    }
}


.jumping {
    animation: jumping 0.4s ease-out 0s infinite alternate;
}
@keyframes jumping {
    from {transform: translateY(0px)}
    to {transform: translateY(-30px)}
}